<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="HDVietnam.Dev" value="https://tfs.hdstation.net/tfs/HDVietnam/_packaging/HD/nuget/v3/index.json" />
    <add key="Telerik" value="https://tfs.hdstation.net/tfs/HDVietnam/_packaging/Telerik/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
