@using System.ComponentModel.DataAnnotations
@{
    Layout = "";

}

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">@ViewData["SubTitle"]</h4>
    </div>
    <div class="modal-body" style="display: flex">
        <div class="content col-lg-8  col-md-12">
            @RenderBody()
        </div>
    </div>
    <div class="modal-footer">
        @RenderSection("actions")
    </div>

<style>
    @@media only screen and (max-width : 1280px) {
        .col-lg-push-1 {
            left: 0%;
        }

        .col-lg-8 {
            width: auto;
        }
        body{
            background-color:darkgray;
        }
        }
        .modal-footer{
            text-align:center;
        }
</style>
@section Scripts {
    @RenderSection("scripts", required: false)
}